@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
* {
	margin:0;
	padding:0;
}
#outer {
	width:100%;
	font-family: 'Roboto', sans-serif;
}
.container {
	width:80%;
/*	background:rgba(188,188,188,1.00);*/
	margin :0 auto;
	text-align:center;
}
#header {
	width:100%;
	height:60px;
	background:black;
}
.logo {
	width:25%;
	float:left;	
}
.logo a img {
	width:200px;
	margin-top:10px;
}
.menu {
	width:75%;
	float:right;
	margin-top:20px;
}
.menu1 {
	width:65%;
	float:left;
/*	background:rgba(162,162,162,1.00);*/
}
.menu1 ul {
	list-style:none;
}
.menu1 ul li {
	display :inline-block;
	margin:0 30px;
}
.menu1 ul li a {
	text-decoration:none;
	color:white;
	font-weight:300;
}
.menu1 ul li a:hover{
	color:rgba(184,0,255,1.00);
}
.menu2 {
	width:35%;
	float:right;
	text-align:right;
}
.menu2 a {
	text-decoration:none;
}
.btn1 {
	padding:10px 30px;
	background:rgba(0,243,255,1.00);
	color:rgba(0,0,0,1.00);
	font-size:10px
}
.btn2 {
	padding:10px 30px;
	background:rgba(184,0,255,1.00);
	color:rgba(255,255,255,1.00);
	font-size:10px
}
#main {
	width:100%;
}
.banner img {
	width:100%;
}
.set1 {
	width:100%;
	height:450px;
	background:rgba(0,0,0,1.00);
	text-align:center;
}
.container img {
	width:100%;
	margin-top:30px;
}
hr {
	width:25%;
	margin:0 auto;
	border-color:black;
	margin-top:10px;
	
}
.textbox1 a {
	text-decoration:none;
	color:white;
	font-size:30px;
}
.textbox1 a:hover{
	text-decoration:underline;
}
.set2 {
	width:100%;
	background:rgba(255,255,255,1.00);
	margin-top:50px;
}
.box1 {
	width:50%;
	float:left;
	text-align:center;
}
.box1 img {
	width:60%
}
.new1 {
	width:60%;
/*	background:rgba(164,164,164,1.00);*/
	margin-left:100px
}
.new1 a {
	text-decoration:none;
	color:rgba(0,0,0,1.00);
}
.new1 a {
	font-size:20px;
}
.new1 a p {
	font-size:15px;
	font-weight:300;
}
.box2 {
	width:50%;
	float:right;
	text-align:center;
}
.box2 img {
	width:60%;
}
.new2 {
	width:60%;
/*	background:rgba(164,164,164,1.00);*/
	margin-left:100px
}
.new2 a {
	text-decoration:none;
	color:rgba(0,0,0,1.00);
}
.new2 a {
	font-size:20px;
}
.new2 a p {
	font-size:15px;
	font-weight:300;
}
.set3 {
	width:100%;
	height:440px;
	background:rgba(49,0,140,1.00);
	clear:both;
}
.set3 a {
	text-decoration:none;
	color:white;
	font-size:30px;
}
.set3 a:hover {
	text-decoration:underline;
}
#footer {
	width:100%;
	background:rgba(0,0,0,1.00);
	height:100px;
}
.flogo img {
	width:60px;
	float:left;
}
.flogo2 img {
	width:90px;
	float:left;
	margin-top:40px;
}
.intro {
	width:80%;
	margin-top:20px;
	float:right;
}
.intro p {
	font-size:8px;
	color:white;
	font-weight:100;
	text-align:left;
	line-height:10px;
}
